---
---

@import "{{ site.theme }}";

html {
    zoom: 120%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

code, pre, tt {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace
}

footer small {
    // Hide GitHub branding
    visibility: hidden;
}

ol li img,
ul li img {
    /* Center all images */
    display: block;
    margin: auto 0;
}
